#info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 150px;
    height: calc(100vh - 150px);
    max-width: 80%;
    margin-left: 10%;
}

#info label {
    text-align: center;
}

#info .title {
    font-size: 38px;
}

#info .subtitle {
    font-size: 20px;
    color: var(--low-white);
}

.project {
    min-height: 100%;
}

.project img {
    width: 300px;
    object-fit: cover;
    opacity: 30%;
}

.project .showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}

.project .details label {
    text-align: justify;
}

.project .details a {
    text-align: justify;
    margin-top: 20px;
}

.project .details .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    max-width: 35%;
}

.project .title {
    font-size: 38px;
    padding: 15px 0;
    text-align: center;
}

.project .content {
    font-size: 15px;
    color: var(--low-white);
}

.project .info-left {
    justify-content: flex-start;
}

.project .info-left .info {
    margin-left: 15%;
}

.project .info-left img {
    margin-left: 10%;
}

.project .info-right {
    justify-content: flex-end;
}

.project .info-right .info {
    margin-right: 15%;
}

.project .info-right img {
    margin-right: 10%;
}

@media screen and (max-width: 850px) {
    .project .details .info {
        max-width: 70%;
    }

    .project .details .title {
        text-align: start !important;
    }

    .project img {
        display: none;
    }
}

#collapsus-lost-legacy,
#collapsus-lost-legacy .showcase,
#collapsus-lost-legacy .details,
#plan-it,
#plan-it .showcase,
#plan-it .details,
#borealis,
#borealis .showcase,
#borealis .details {
    background-color: var(--alternative-background-color);
}

#async,
#async .showcase,
#async .details,
#conduit-api,
#conduit-api .showcase,
#conduit-api .details,
#archive,
#archive .showcase,
#archive .details {
    background-color: var(--background-color);
}

#borealis img {
    image-rendering: pixelated;
}