.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    vertical-align: bottom;
    border-top: 0.4px solid white;
    background-color: #18283d;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
}

.body {
    background: linear-gradient(-45deg, #8097d4 10%, #122c4e 90%);
}

.content { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.space-small {
    padding: 5px;
}

.space-md {
    padding: 10px;
}

.space-large {
    padding: 20px;
}

.space-y {
    height: 30px;
}

.divider {
    margin: 20px;
    width: 30%;
    border-top: 0.4px solid white;
}

.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 15px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}

.nav-item {
    color: white;  
}

.title {
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.subtitle {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.subtitle-animated {
    animation: color-section-change 3s infinite;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.caption {
    color: white;
    font-size: 15px;
}

.caption-highlight {
    color: darkorange;
    font-size: 12px;
}

.content-text {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.align-start {
    text-align: start;
}

.align-center {    
    text-align: center;
}

.align-end {    
    text-align: end;
}

.align-middle {
    align-items: center;
}

.font {
    font-family: 'JetBrains Mono';
}

.img-md {
    height: 10em;
}

.rounded {
    border-radius: 50%;
}

.circle-around {
    border: 3px solid #8097d4;
    padding: 5px;
}

.button-no-bg {
    background-color: transparent;
}

.carousel-item:hover {
    animation: pop 500ms forwards;
}

.image-carousel {
    gap: 15px;
    padding: 10px;
    max-width: 60%;
    overflow-x: scroll;
    margin-left: 40px;    
    margin-right: 40px;
}

.img-slide {
    max-height: 200px;
    width: 350px;
    object-fit: contain;
    border: 1px dashed white;
}

.gap-sm {
    gap: 10px;
}

.gap-md {
    gap: 20px;
}

a {
    color: transparent;
}

/* Flexbox */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.start {
    align-content: flex-start;
}

.center {
    align-content: center;
}

.end {
    align-content: flex-end;
}

.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}

.top {
    align-items: flex-start;
}

.middle {
    align-items: baseline;
}

.bottom {
    align-items: flex-end;
}

@keyframes color-section-change {
    0% { 
        color: white;
    }
    50% { 
        color: darkorange;
    }
    to { 
        color: white;
    }
}

@keyframes pop {
    0% {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-10px);
    }
}
