.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    vertical-align: bottom;
    border-top: 0.4px solid white;
    background-color: #53435a;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
}

.body {
    background: linear-gradient(90deg, #4f5479 10%, #180347 90%);
}

.content { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-small {
    padding: 5px;
}

.space-md {
    padding: 10px;
}

.space-large {
    padding: 20px;
}

.space-y {
    height: 30px;
}

.divider {
    margin: 20px;
    width: 30%;
    border-top: 0.4px solid white;
}

.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 15px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}

.nav-item {
    color: white;  
}

.title {
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.subtitle {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.subtitle-animated {
    animation: color-cc-change 1s infinite;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.caption {
    animation: color-main-change 1s infinite;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.content-text {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.align-start {
    text-align: start;
}

.align-center {    
    text-align: center;
}

.align-end {    
    text-align: end;
}

.font {
    font-family: 'JetBrains Mono';
}

.img-main {
    border-radius: 50%;
    height: 10em;
    border: white;
    border-width: 5px;
    border-style: solid;
}

.button-no-bg {
    background-color: transparent;
}

@keyframes color-main-change {
    0% { color: green; }
    25% { color: orange; }
    50% { color: blue; }
    75% { color: plum; }
    100% { color: red; }
}

@keyframes color-cc-change {
    0% { color: white; }
    50% { color: wheat; }
    100% { color: white; }
}