body {
    margin: 0px;
    background-color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.navigation {
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    z-index: 1;
}

.navigation a {
    padding: 0px 20px 0px 20px;
}

@media (max-width: 700px) {
    .headline {
        font-size: 28px !important;
    }

    .subheadline {
        font-size: 12px !important;
    }
}

@media (max-width: 500px) {
    .navigation {
        font-size: 11px;
    }

    .navigation a {
        padding: 0px 15px 0px 15px;
    }

    .headline {
        font-size: 25px !important;
    }

    .subheadline {
        font-size: 12px !important;
    }
}

@media (max-width: 400px) {
    .navigation {
        font-size: 9px;
    }
    
    .navigation a {
        padding: 0px 10px 0px 10px;
    }
}

.background-fade {
    background-color: #5433af73;
}

.background-image {
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    margin-top: 40px;
    object-fit: cover;
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/satellite.jpg');
}

.background-dark {
    background-color: #2b2b2b;
    width: 100%;
    min-height: 100vh;
    height: 750px;
    overflow: hidden;
}

.background-alt {
    background-color: whitesmoke;
    min-width: 100%;
    width: fit-content;
    height: 100vh;
    overflow: hidden;
}

.footer {    
    background-color: #2b2b2b;
    width: 100%;
    height: 160px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    margin-bottom: 160px;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 100%;
    opacity: 0.8;
    color: whitesmoke;
    text-align: center;
    position: absolute;
    margin-bottom: 50px;
}

.headline {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    width: 100%;
    color: #2b2b2b;
    padding: 10px;
}

.subheadline {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    opacity: 0.8;
    color: #2b2b2b;
    margin: 0px 20px 0px 20px;
}

.small {
    font-family: "Poppins", sans-serif;
    color: darkorange;
    font-size: 11px;
    width: fit-content;
    align-self: center;
}

.large-icon {
    font-size: 60px !important;
}

.accent {
    color: blueviolet;
    font-weight: 600;
}

.white {
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {    
    display: flex;
    flex-direction: column;
}

.gap-md {
    gap: 15px
}

.divider {
    width: 40%;
    align-self: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid whitesmoke;
    opacity: 0.5;
}

.align-middle {
    justify-content: center;
    text-align: center;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #2b2b2b;
}

::-moz-selection {
    color: #a26ec5;
    background-color: #fd87005d;
}

::selection {
    color: darkorange;
    background-color: #fd87005d;
}