.body {
    background: linear-gradient(90deg, #35525e 95%, white 5%);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #233b4644;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #233b46;
}

::-moz-selection {
    color: white;
    background-color: #233b46;
}

::selection {
    color: white;
    background-color: #233b46;
}

a {
    color: transparent;
    text-decoration: none;
}

.content { 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.margin-start {
    margin-left: 15px;
}

.space-small {
    padding: 5px;
}

.space-md {
    padding: 10px;
}

.space-large {
    padding: 20px;
}

.space-y {
    height: 30px;
}

.divider {
    margin: 40px 0px 40px 0px;
    width: 30%;
    border-top: 0.4px solid white;
}

.title {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.subtitle {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.caption {
    color: burlywood;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.bar {
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 2px 2px;
    background-color: #233b46;
    color: white;
    font-weight: 400;
}

.enhance {
    color: orange;
    font-weight: 400;
    font-size: 15px;
}

.light {
    text-shadow: rgba(245, 222, 179, 0.5) 8px 6px 3px;
}

.content-text {
    color: white;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    margin: 15px 10% 15px 10%;
}

.align-start {
    text-align: start;
}

.align-center {    
    text-align: center;
}

.align-end {    
    text-align: end;
}

.font {
    font-family: 'Poppins', sans-serif;
}

.small {
    font-size: 12px;
}

.img-main {
    border-radius: 50%;
    height: 10em;
}

.img-other {
    border-radius: 50%;
    height: 2em;
}

.img-icons {
    height: 4em;
    padding: 5px;
}

.margin-line {
    border-left: 2px solid white;
    padding-left: 20px;
}

.primary-button {
    background-color: orange;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}

.primary-button:hover {
    background-color: #233b46;
    transition: background-color 300ms;
}

.block-row {
    flex-wrap: wrap;
    justify-content: center;
}

.image-carousel {
    gap: 15px;
    width: 80%;
}

.item-carousel:hover {
    transition: transform 300ms;
    transform: translateX(-20px);
}

.item-carousel {    
    transition: transform 300ms;
    transform: rotateZ(0deg);
    border-right: 6px solid #233b46;
    background-color: whitesmoke;
    padding: 5px 5px 0px 5px;
}
