#info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 150px;
    height: calc(100vh - 150px);
}

#info label {
    text-align: center;
}

#info .title {
    font-size: 38px;
}

#info .subtitle {
    font-size: 20px;
    color: var(--low-white);
}

#languages,
#ai,
#databases {
    height: fit-content;
    min-height: 100vh;
    background-color: var(--alternative-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#languages .showcase,
#ai .showcase,
#databases .showcase {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

#languages .item,
#ai .item,
#databases .item {
    width: 200px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

#languages .title,
#ai .title,
#databases .title {
    font-size: 38px;
}

#frameworks,
#game-engines,
#others {
    height: fit-content;
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frameworks .showcase,
#game-engines .showcase,
#others .showcase {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

#frameworks .item,
#game-engines .item,
#others .item {
    width: 200px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

#frameworks .title,
#game-engines .title,
#others .title {
    font-size: 38px;
}